.wrap-detail { overflow: hidden !important; padding-bottom: 15px; }
.title-product { color: #080000; font-size: 24px; line-height: 30px; margin: 0px; margin-bottom: 8px; font-weight: 400 }
.details-product .col-lg-5, .details-product .col-lg-7, .details-product .col-lg-3, .details-product .col-lg-9, .details-product .col-md-5, .details-product .col-md-7 { float: left; position: relative; padding-right: 15px; padding-left: 15px; max-width: 100%; }
.details-product { margin: 0 -15px; }
.details-product .large-image { text-align: center; width: 100%; margin-bottom: 15px }
.details-product .large-image a { display: block; }
.details-product .large-image a img { margin: 0 auto; left: 0; top: 0; border: solid 1px #ebebeb }
.details-product .tab_h { display: block; width: 100%; float: left; margin-top: 50px; margin-bottom: 30px }
.details-product .details-pro .product-price { display: inline-block }
.details-product .details-pro .price-box { margin: 10px 0 15px }
.details-product .details-pro .price-box del { color: #adadad; font-size: 16px; }
.details-product .details-pro .special-price { color: #000; font-weight: bold; font-size: 20px; margin-right: 5px; }
.details-product .details-pro .price-box .save-price { display: block; float: left; width: 100%; ; font-size: 12px }
.details-product .details-pro .price-box .save-price .product-price-save { font-weight: bold; color: #000 }
.details-product .details-pro .custom-btn-number { position: relative; padding: 0; margin-bottom: 10px; border: none; box-shadow: none; height: auto }
.details-product .details-pro .custom-btn-number label { font-size: 14px }
.details-product .details-pro .custom-btn-number #qty { height: 32px; font-size: 1.28571em; margin: 0 }
.details-product .details-pro .custom-btn-number .qtyminus { position: absolute; left: 25px; top: 4px; font-size: 1.42857em }
.details-product .details-pro .custom-btn-number .qtyplus { position: absolute; right: 25px; top: 4px; font-size: 1.42857em }
.thumb_product_details { width: 70%; margin: 0 auto; margin-top: 35px; }
.thumb_product_details .owl-height { height: 100px !important }
.thumb_product_details .owl-item .item { padding-right: 2px; }
.thumb_product_details .owl-item .item a { display: flex; align-items: center; justify-content: center; background: #fff; border: 1px solid #ccc; }
.thumb_product_details .owl-item .item a img { margin: 0 auto; max-height: 100%; max-width: 100% }
.thumb_product_details .owl-item .item a:hover { border: 1px solid #000 }
.thumb_product_details .owl-item .item a.active { border: 1px solid #000 }
.thumb_product_details .owl-item .item a.active img { opacity: 1 }
.thumb_product_details .owl-nav .owl-prev, .thumb_product_details .owl-nav .owl-next { width: 26px; height: 26px; border-radius: 0; line-height: 26px; text-align: center; top: 50%; margin-top: -25px; border: none; background: transparent !important }
.thumb_product_details .owl-nav .owl-prev:before, .thumb_product_details .owl-nav .owl-next:before { height: 26px; width: 26px; line-height: 26px; top: -1px; color: #333; border: none }
.thumb_product_details .owl-nav .owl-prev:hover, .thumb_product_details .owl-nav .owl-next:hover { background: transparent !important }
.thumb_product_details .owl-nav .owl-prev:hover:before, .thumb_product_details .owl-nav .owl-next:hover:before { color: #000 !important }
.thumb_product_details .owl-nav .owl-prev { left: -35px !important }
.thumb_product_details .owl-nav .owl-prev:before { content: "\f104"; font-family: 'FontAwesome'; font-size: 24px }
.thumb_product_details .owl-nav .owl-next { right: -30px !important }
.thumb_product_details .owl-nav .owl-next:before { content: "\f105"; font-family: 'FontAwesome'; font-size: 24px }
.details-pro .reviews_details_product { margin-top: 0px; margin-bottom: 3px; overflow: hidden }
.details-pro .reviews_details_product .bizweb-product-reviews-badge { margin: 0px auto; padding: 0px; float: left }
.details-pro .reviews_details_product .bizweb-product-reviews-badge .bizweb-product-reviews-star i { font-size: 13px }
.details-pro .reviews_details_product .bizweb-product-reviews-badge .bizweb-product-reviews-star .star-off-png:before { content: "\f006"; color: #f9b40e }
.details-pro .reviews_details_product .bizweb-product-reviews-badge .bizweb-product-reviews-star .star-on-png:before { content: "\f005"; color: #f9b40e }
.details-pro .reviews_details_product .bizweb-product-reviews-badge .bizweb-product-reviews-star .star-half-png:before { content: "\f006"; color: #ffba01 }
.details-pro .reviews_details_product .bizweb-product-reviews-badge div img { display: none }
.details-pro .reviews_details_product .bizweb-product-reviews-badge div p { font-size: 13px; color: #7b7b7b }
.details-pro .reviews_details_product .danhgiasp { display: inline; font-family: "Arial", sans-serif; font-size: 13px; color: #7b7b7b; font-weight: 400; padding: 0 15px; border-left: solid 1px #ddd; text-decoration: underline }
.details-pro .reviews_details_product .danhgiasp:hover>a { color: #000; text-decoration: none; cursor: pointer }
.details-pro .reviews_details_product .danhgiasp:hover .fa { color: #000 }
.details-pro .reviews_details_product .danhgiasp a { color: #7b7b7b; font-weight: 400; text-decoration: underline }
.details-pro .vd { font-family: 'Arial', sans-serif; font-size: 13px; color: #969696; line-height: 22px; text-decoration: none }
.details-pro .vd a { color: #969696; text-decoration: none; margin-right: 15px }
.details-pro .vd a:hover { color: #333 }
.details-pro .vd .vend_c { display: inline-block; padding: 0px 15px; background-color: #0ed379; color: #fff; border-radius: 3px }
.details-pro .group-status { font-size: 14px; margin-bottom: 8px }
.details-pro .group-status .status_th { display: block; margin-bottom: 2px; }
.details-pro .group-status .status_name { color: #000 }
.details-pro .product-summary { margin-bottom: 10px; padding: 0px 0 5px 0 }
.details-pro .product-summary .if { font-size: 14px; color: #333; line-height: 24px }
.details-pro .product-summary .rte { font-size: 14px; color: #888; line-height: 22px; font-family: 'Arial', sans-serif }
.details-pro .product-summary .rte img { display: none }
.details-pro .product-summary .rte p { margin-bottom: 0; }
.details-pro .social-sharing { display: block; width: 100%; float: left }
.details-pro .social-sharing .social-media label { display: inline-block }
.details-pro .social-sharing .social-media a { display: inline-block; width: 20px; height: 20px; line-height: 20px; text-align: center; border-radius: 50%; margin-right: 0; margin-left: 3px; margin: 0 5px }
.details-pro .social-sharing .social-normal { display: block; padding: 20px 0px }
.details-pro .social-sharing .social-normal label { display: inline-block; margin-right: 10px; font-weight: 400; font-size: 13px; color: #565656 }
.details-pro .social-sharing .social-normal a { margin: 0px 5px }
.details-pro .contacts { display: inline-block; float: left; text-align: left; width: 100%; position: relative; margin-bottom: 5px; margin-top: -10px }
.details-pro .contacts .block_phone { font-size: 14px; line-height: 30px; display: block; font-weight: 400; position: relative }
.details-pro .contacts .block_phone div { display: inline-block; float: left }
.details-pro .contacts .block_phone .random1 { color: #000; font-weight: bold }
.details-pro .contacts .block_phone a { margin-left: 5px; font-size: 16px; color: #000; font-weight: bold; line-height: 30px; text-decoration: none }
.details-pro .thongtinkhuyenmai { border: 1px dashed #000; border-radius: 0px; padding: 15px 35px 15px 20px; margin-bottom: 15px; position: relative; clear: left; margin-top: 20px; display: block; float: left; width: 100% }
.box-variant .form-group { width: 100% }
.box-variant .form-group .selector-wrapper { margin-bottom: 10px !important }
.box-variant .form-group .selector-wrapper label, .form-group .soluong  .label_sl { font-weight: 400; width: 85px; font-size: 14px; float: left; color: #636363; line-height: 40px; }
.box-variant .form-group .selector-wrapper .single-option-selector { width: calc(100% - 85px); border-radius: 3px; ; margin-bottom: 0; }
.form-group { padding-bottom: 0px }
.form-product .form-group { width: 100%; }
.form-group .input_number_product { display: inline-flex; width: 65% }
.form-group .input_number_product .btn_num { font-size: 22px; line-height: 0px; border: solid 1px #ccc; display: inline-block; width: 40px; height: 40px; background: #fff; float: left; color: #222; text-align: center; padding: 0px }
.form-group .input_number_product .btn_num.num_1 { border-top-left-radius: 3px; border-bottom-left-radius: 3px; font-size: 30px }
.form-group .input_number_product .btn_num.num_2 { border-top-right-radius: 3px; border-bottom-right-radius: 3px }
.form-group .input_number_product .btn_num:hover { cursor: pointer; background: #fff; color: #222; text-decoration: none; border-color: #ccc }
.form-group .input_number_product input { margin: 0px; display: block; float: left; color: #222; height: 40px; border: 1px solid #ccc; border-right: none; border-left: none; width: 70px; text-align: center; box-shadow: none; border-radius: 0px; font-size: 15px }
.button_actions { width: 100%; margin-top: 15px; }
.button_actions .btn_base { vertical-align: middle; display: inline-block; font-size: 14px; outline: none; box-shadow: none; padding: 6px 0px 4px 0; color: #fff; height: auto; line-height: inherit; width: calc(50% - 7px); border-radius: 3px; background: #000; ; margin-right: 5px }
.button_actions .btn_base .text_1 { font-size: 16px; font-weight: 700; line-height: 1.1; display: block; width: 100%; text-align: center }
.button_actions .btn_base .text_2 { font-size: 12px; display: block; width: 100%; text-align: center }
.button_actions .btn_base[disabled] { height: 48px; line-height: 48px; font-size: 16px; font-weight: 700; padding: 0; text-transform: uppercase;  }
.button_actions .btn_base.disabled { height: 48px; line-height: 48px; font-size: 16px; font-weight: 700; padding: 0; width: calc(50% - 7px); margin: 0 auto; text-transform: uppercase;  }
.button_actions .btn_base.btn_call { background: #080000; color: #fff !important; height: 47px; }
.module_service_details { margin-bottom: 30px }
.module_service_details .wrap_module_service { overflow: hidden; background: #fff; border-radius: 3px; border: 1px solid #000; margin-bottom: 30px }
.module_service_details .wrap_module_service .item_service { margin: 0px 15px; border-bottom: solid 1px #e5e5e5 }
.module_service_details .wrap_module_service .item_service:nth-child(4) { border-bottom: none }
.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service { position: relative; padding: 20px 0px 20px 50px }
.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service p { font-size: 14px; line-height: normal; margin: 0px; padding: 0px; font-weight: bold; color: #888 }
.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service span { font-size: 13px; line-height: 22px; font-weight: 400; color: #888 }
.module_service_details .wrap_module_service .item_service .wrap_item_ .content_service:before { content: ""; width: 35px; height: 30px; background-position: left; background-size: contain; background-repeat: no-repeat; position: absolute; left: 0; top: 23px }
.module_service_details .wrap_module_service .item_service:nth-child(1) .wrap_item_ .content_service:before { background-image: url("../images/shiper.png") }
.module_service_details .wrap_module_service .item_service:nth-child(2) .wrap_item_ .content_service:before { background-image: url("../images/change.png") }
.module_service_details .wrap_module_service .item_service:nth-child(3) .wrap_item_ .content_service:before { background-image: url("../images/pay.png") }
.module_service_details .wrap_module_service .item_service:nth-child(4) .wrap_item_ .content_service:before { background-image: url("../images/phone.png") }
.module_service_details .wrap_module_service .item_service:nth-child(4) .wrap_item_ .content_service span, .module_service_details .wrap_module_service .item_service:nth-child(4) .wrap_item_ .content_service a { color: #707070; font-size: 12px }
.module_service_details .wrap_module_service .item_service:nth-child(5) .wrap_item_ .content_service:before { background-image: url("../images/saving.png") }
.module_best_sale_product .title_module_ { border-bottom: 1px solid #e5e5e5; border-top-right-radius: 3px; border-top-left-radius: 3px; background: #000 }
.module_best_sale_product .title_module_ .title { font-size: 18px; line-height: 40px; text-transform: uppercase; color: #fff !important; padding: 3px 22px; margin: 0px; font-weight: 400; }
.module_best_sale_product .title_module_ .title a { text-decoration: none; color: #fff !important; }
.module_best_sale_product .sale_off_today { border: 1px solid #e5e5e5; border-top: none }
.product-mini-item { padding: 20px 15px 20px 15px; border-bottom: 1px solid #e5e5e5; overflow: hidden; }
.product-mini-item .price { display: inline-block }
.product-mini-item .product-img { width: 100px; margin-right: 10px; float: left }
.product-mini-item .product-info { width: calc(100% - 110px); float: right }
.product-mini-item .product-info .price-box { border: none; margin-top: 7px }
.product-mini-item .product-info h3 { margin-top: 0; font-size: 14px; font-weight: 400 }
.product-mini-item .product-info h3 a { color: #080000 }
.product-mini-item .product-info h3 a:hover { color: #000 }
.product-mini-item .product-price { font-size: 16px; font-weight: bold; font-family: 'Arial', sans-serif; color: #000 }
.product-mini-item .sale-price { font-family: 'Arial', sans-serif; font-size: 12px; margin-left: 5px; color: #acacac }
.product-tab .tabs-title { background: #fff; margin-bottom: 0px; padding-left: 0px; border-bottom: solid 1px #ebebeb }
.product-tab .tab-link { position: relative; display: inline-block; border-top-right-radius: 4px; border-top-left-radius: 4px; background: #f2f2f2; padding: 0px 40px; border-bottom: 0px; margin-top: 0px; cursor: pointer; }
.product-tab .tab-link h3 { color: #080000; margin: 13px 0; font-size: 15px }
.product-tab .tab-link span { color: #080000; text-transform: uppercase; font-size: 15px; font-weight: 700 }
.product-tab .tab-link.current h3 { color: #000 }
.product-tab .tab-link.current h3 span { color: #000 }
.product-tab .tab-link.current .rte { color: #9d9c9c; font-weight: 300; font-size: 14px; border: solid 0px #ebebeb; border-top: 0px }
.product-tab li:last-child h3 span:after { content: none }
.product-tab .tab-content { padding: 0px }
.product-tab .tab-content.current .rte { color: #888; border: solid 1px #e5e5e5; border-top: none; padding: 30px 45px 60px 30px; font-size: 14px }
.product-tab .content_extab.current { padding: 20px 15px; background: #fff; border: solid 1px #e1e1e1 }
.product-tab .content_extab.current .rte { padding: 0px 0px }
.product-tab .content_extab.current .rte img { max-width: 100%; width: auto !important; height: auto !important }
.tab-content { opacity: 0; visibility: hidden; height: 0; overflow: hidden }
.tab-content.current { opacity: 1; visibility: visible; height: auto; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out }
.product-well { min-height: 20px; padding: 0; padding-bottom: 35px; background-color: #fff; position: relative; margin-bottom: 40px; box-shadow: none; outline: none; border: none; border-radius: 0 }
.product-well .ba-text-fpt { height: 300px; overflow: hidden; -webkit-transition: height 0.2s; -moz-transition: height 0.2s; transition: height 0.2s }
.product-well.expanded .ba-text-fpt { height: auto; -webkit-transition: height 0.2s; -moz-transition: height 0.2s; transition: height 0.2s }
.product-well.expanded .less-text { display: block }
.product-well.expanded .more-text { display: none }
.product-well.expanded .show-more::before { display: none }
.product-well .show-more { position: relative }
.product-well .show-more:before { display: block; content: ""; height: 120px; position: absolute; top: -120px; width: 100%; left: 0; background: rgba(255, 255, 255, 0.6); background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.33) 33%, rgba(255, 255, 255, 0.8) 83%, #fff) }
.product-well .show-more .btn--view-more { position: absolute; top: 100%; left: 50%; width: 120px; margin-left: -60px; margin-top: 0px; text-align: center; background-color: transparent; color: #000; font-weight: 400; height: 30px; border-radius: 3px; line-height: 30px; font-size: 14px; border: 1px solid #000 }
.product-well .show-more .btn--view-more span { color: #000 !important; text-transform: none !important; font-size: 14px !important; font-weight: 400 !important }
.product-well .less-text { display: none }
.related-product { margin-top: 0px !important; display: block; float: left; width: 100% }
.related-product .heading_related_h { text-align: left !important }
.related-product .heading_related_h:before { top: 55% }
.related-product .heading_related_h h2 { padding: 0; font-weight: bold; font-size: 16px }
.related-product .heading_related_h h2 a { text-transform: none }
.related-product .product_related { margin-top: 30px }
.related-product .product_related .owl-nav { display: none; }
.related-product .product_related .item .product-col-1 { border-right: none !important }
#recently-viewed-products .image { float: left; width: 90px; margin-right: 10px }
.product-box-h { min-height: 355px !important }
.product-box-h .sale-flash { position: absolute; font-size: 18px; font-family: "UTM"; color: #fff; padding: 0 10px; width: 44px; height: 44px; line-height: 42px; font-weight: 400; top: 10px; right: 10px; text-align: center; z-index: 9; background-size: contain; background-repeat: no-repeat }
.product-box-h .sale-flash.new { background-image: url("../images/label_new.png") }
.product-box-h .sale-flash.sale { background-image: url("../images/label_sale.png") }
.product-box-h .sale-flash.tagdacbiet_sale { background-image: url("../images/label_sale_50.png"); height: 45px; line-height: 15px; font-size: 11px; left: 10px; padding: 5px 0; right: unset }
.product-box-h .sale-flash.tagdacbiet_sale .font16 { font-size: 16px }
.product-box-h .tagmakm_sale { width: 218px; float: left; height: 28px; background-image: url("../images/bg_discount.png"); background-repeat: no-repeat; line-height: 28px; padding: 0 15px 0 10px; color: #fff; font-weight: bold; position: absolute; bottom: 0 }
.product-box-h .tagmakm_sale .codekm { text-transform: uppercase; line-height: 12px; text-align: center; padding: 2px 0 }
.product-box-h .tagmakm_sale .codekm .codekm_1 { font-size: 8px }
.product-box-h .tagmakm_sale .codekm .codekm_2 { font-size: 12px }
.product-box-h .tagmakm_sale .price_km { font-size: 18px }
.product-box-h .wrap_time { width: 100%; display: inline-block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%) }
.product-box-h .wrap_time .time { text-align: center; justify-content: center; display: flex; -o-justify-content: center; -moz-justify-content: center; -webkit-justify-content: center; -os-justify-content: center; -o-display: flex; -moz-display: flex; -webkit-display: flex; -os-display: flex; width: 100%; overflow: hidden }
.product-box-h .wrap_time .time span { display: inline-block; width: 44px; float: left; padding: 3px; border-radius: 3px; margin: 0 2.5px; text-align: center; background: rgba(0, 0, 0, 0.8); font-weight: 700; color: #fff; font-size: 18px; line-height: 20px }
.product-box-h .wrap_time .time span p { display: block; padding: 0; margin: 0; font-weight: 400; font-size: 12px; color: #fff; line-height: 18px }
.product-box-h { position: relative; min-height: 390px; margin: 0; -webkit-transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s }
.product-box-h:hover .product-action { visibility: visible }
.product-box-h:hover .a_img { opacity: 0.5 }
.product-box-h .product-hide { margin-top: 2px }
.product-box-h .product-thumbnail { position: relative }
.product-box-h .product-thumbnail>a.display_flex { width: 100%; text-align: center; position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; height: 218px }
.product-box-h .product-thumbnail>a.display_flex img { max-height: 100%; width: auto !important; max-width: 100%; display: block }
.product-box-h .product-thumbnail:hover .image_link:before { opacity: .5 }
.product-box-h .product-action { text-align: left; display: none; margin-top: 10px !important; position: absolute; width: 100% }
.product-box-h .product-action .btn.btn-cart { width: 120px; height: 34px; line-height: 34px; border-radius: 3px; color: #fff; background: #000; margin-right: 2px; font-size: 12px; padding: 0; }
.product-box-h .product-action .btn.btn-cart .fa { color: #fff; padding-right: 8px }
.product-box-h .product-action .btn.btn-cart:hover { background: #d92b1f }
.product-box-h .product-action .xem_nhanh { width: 34px; height: 34px; line-height: 34px; border-radius: 3px; text-align: center; background: #000; display: inline-block }
.product-box-h .product-action .xem_nhanh .fa { color: #fff }
.product-box-h .product-action .xem_nhanh:hover { background: #d92b1f }
.product-box-h .product-info { z-index: 10; position: relative; padding: 0 0px 20px 0px; float: left; width: 100% }
.product-box-h .product-info .product-name { font-size: 14px !important; line-height: 21px; margin: 15px 0 5px 0; font-weight: 400; height: auto; word-break: break-word; max-height: 40px; overflow: hidden }
.product-box-h .product-info .product-name a { color: #080000; text-decoration: none }
.product-box-h .product-info .product-name a:hover { color: #000 }
.product-box-h .product-info .product-hide .price-box .special-price { display: inline-block; margin-right: 7px }
.product-box-h .product-info .product-hide .price-box .old-price { display: inline-block }
.product-box-h .product-info .product-price { color: #000; font-size: 16px; display: block; font-weight: bold; font-family: 'Arial', sans-serif }
.product-box-h .product-info .product-price-old { text-decoration: line-through; font-family: 'Arial', sans-serif; font-size: 13px; font-weight: 400; margin: 0; display: inline-block; color: #888888 }
.rte-summary { color: #707070; font-size: 14px }
.rte-summary .nhapnhap { text-align: center; }
.rte-summary ul { list-style: none; padding-left: 0; margin-left: 0; margin-bottom: 10px; }
.rte-summary ul li { position: relative; padding-left: 20px; margin-bottom: 0 }
.rte-summary ul li:before { display: block; position: absolute; content: "\f058"; font-family: "FontAwesome"; color: #64c343; left: 0px; top: 0; font-size: 15px }
#popup-cart { -webkit-overflow-scrolling: touch; outline: 0; background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 99999; overflow-y: auto; }
#popup-cart-desktop { z-index: 1; width: 900px; overflow: hidden; background: #fff; float: none; margin: 0 auto; position: relative; top: 7%; bottom: 10%; border-radius: 4px }
#popup-cart-desktop .wrap_popup { padding: 0px 20px 20px; width: 100%; float: left }
#popup-cart-desktop .title-popup-cart { font-family: 'Arial', sans-serif; margin-bottom: 13px; font-size: 16px; padding-right: 15px; font-weight: 400; padding: 20px; background: #000 }
#popup-cart-desktop .title-popup-cart img { width: 24px; display: inline-block; float: left }
#popup-cart-desktop .title-popup-cart .cart_name_style { color: #ffde00 }
#popup-cart-desktop .title-popup-cart .your_product { padding-left: 30px; font-family: 'Arial', sans-serif; font-size: 16px; line-height: 24px; color: #fff; font-weight: 400; display: inherit }
#popup-cart-desktop .title-popup-cart i { color: #000; padding: 5px; border: solid 1px; border-radius: 50% }
#popup-cart-desktop .title-popup-cart .cart-popup-name { font-family: 'Arial', sans-serif; font-size: 16px; color: #ffe21c; font-weight: 400 }
#popup-cart-desktop .title-popup-cart .cart-popup-name a { color: #ffe21c }
#popup-cart-desktop .title-popup-cart .cart-popup-name:hover>a { text-decoration: none }
#popup-cart-desktop .title-quantity-popup { font-family: 'Arial', sans-serif; font-weight: 700; font-size: 16px; line-height: 18px; margin-bottom: 20px; cursor: pointer; color: #333333; width: 100%; float: left }
#popup-cart-desktop .title-quantity-popup:hover { color: #000 }
#popup-cart-desktop .title-quantity-popup img { width: 18px; display: inline-block; float: left }
#popup-cart-desktop .title-quantity-popup .cart_status { line-height: 26px; display: inline-block }
#popup-cart-desktop .title-quantity-popup .cart_status .fa { line-height: 26px }
#popup-cart-desktop .title-quantity-popup .cart_status span { color: #000 }
#popup-cart-desktop .title-quantity-popup .total-p { display: inline-block; float: right; text-align: left; line-height: 28px; font-size: 14px }
#popup-cart-desktop .title-quantity-popup .total-p .total-price { font-size: 18px; font-weight: bold; color: #000 }
#popup-cart-desktop .content-popup-cart .thead-popup { border-top: solid 1px #e1e1e1; border-bottom: solid 1px #e1e1e1; border-left: solid 1px #e1e1e1; border-right: solid 1px #e1e1e1; float: left; width: 100%; clear: both; background: #f9f9f9 }
#popup-cart-desktop .content-popup-cart .thead-popup>div { font-family: 'Arial', sans-serif; float: left; padding: 10px 10px; font-size: 14px; color: #333333; border-right: solid 1px #e1e1e1 }
#popup-cart-desktop .content-popup-cart .thead-popup>div:last-child { border-right: solid 1px #f9f9f9 }
#popup-cart-desktop .content-popup-cart .thead-popup>div:first-child { padding: 10px 20px; background: #fff }
#popup-cart-desktop .content-popup-cart .thead-popup>div:nth-child(2), #popup-cart-desktop .content-popup-cart .thead-popup>div:nth-child(3), #popup-cart-desktop .content-popup-cart .thead-popup>div:nth-child(4) { background: #fff }
#popup-cart-desktop .content-popup-cart .tbody-popup { width: 100%; float: left; clear: both; max-height: 290px; overflow-y: scroll; overflow-x: hidden; border-top: none; border-right: solid 1px #e1e1e1; border-left: solid 1px #e1e1e1 }
#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar { background: #ffffff; width: 15px }
#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar-button { background: #fff }
#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar-track { background: #ffffff; width: 15px }
#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar-track-piece { background: #ebebeb; width: 15px }
#popup-cart-desktop .content-popup-cart .tbody-popup::-webkit-scrollbar-thumb { background: #ccc; width: 15px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup { width: 100%; float: left; clear: both; border-bottom: 1px solid #e1e1e1; min-height: 150px; position: relative; width: 860px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup:last-child { border-bottom: 0px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div { float: left; padding: 15px 0px; height: 150px; display: -webkit-flex; -webkit-align-items: center; display: -ms-flexbox; display: flex !important; flex-flow: column; justify-content: center }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div.border { border-left: solid 1px #ebebeb }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div:first-child { border-left: 0px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div:nth-child(4) { border-right: solid 1px #ebebeb }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup>div:last-child { border-left: 0px; position: absolute; right: 0; padding-right: 20px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .a2, #popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .a3, #popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .a4 { border-left: solid 1px #e1e1e1 }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .a4 { position: relative }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .a4:after { content: ""; border-width: 1px; height: 100%; position: absolute; right: 0px; top: 0px; padding: 0px 0.5px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-remove { font-family: 'Arial', sans-serif; margin: 0; position: relative; margin-top: 50%; font-size: 20px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image { display: block; padding: 10px; float: left; width: 120px; height: 150px; display: -webkit-flex; -webkit-align-items: center; display: -ms-flexbox; display: flex !important; flex-flow: column; justify-content: center }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image .product-image { width: 90px; height: 150px; display: -webkit-flex; -webkit-align-items: center; display: -ms-flexbox; display: flex !important; flex-flow: column; justify-content: center }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-image .product-image img { max-width: 100%; height: auto }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .height { padding: 15px 15px 15px 0 }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info { display: block; float: left; width: 100%; margin-left: 10px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info p { margin: 0px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name { float: left; width: 100%; word-break: break-word }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name .textlinefix { position: relative; max-height: 40px; overflow: hidden; display: block }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name .textlinefix:after { content: ""; text-align: right; position: absolute; bottom: 0; right: 0; width: 20%; height: 20px; background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 50%) }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a { font-family: 'Arial', sans-serif; font-size: 14px; line-height: 19px; margin-bottom: 5px; font-weight: 400; position: relative; color: #333; padding-right: 10px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-name a:hover { color: #000; text-decoration: none }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .variant-title-popup { font-size: 13px; margin-bottom: 5px; color: #333333 }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .item-remove a { font-size: 13px; color: #888 }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .remove-item-cart { font-family: 'Arial', sans-serif; font-size: 14px; line-height: 19px; display: block; color: #898989 }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .remove-item-cart .fa { color: #898989 }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .remove-item-cart:hover { text-decoration: none }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-info .addpass { margin-top: 5px !important }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price { padding: 45px 0px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price span { display: block }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .price { font-weight: 700; color: #000; font-size: 14px; line-height: 25px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-price { color: #636363; font-size: 14px; text-decoration: line-through; font-weight: 500 }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .item-price .compare-divide { font-size: 14px; color: #636363 }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .qty_thuongdq { padding: 35px 0px; position: relative; width: 90px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .num1 { border-top-left-radius: 3px; border-bottom-left-radius: 3px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .num2 { border-top-right-radius: 3px; border-bottom-right-radius: 3px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-count { border: 1px solid #ddd; outline: none; background: #fff; height: 25px; margin-top: 10px; width: 25px; text-align: center; vertical-align: top; padding: 0; color: #333; line-height: 25px; font-size: 17px; font-weight: 100 }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .items-count.btn-minus { line-height: 20px; font-size: 17px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .number-sidebar { border: 1px solid #ddd; height: 25px; text-align: center; width: 35px; vertical-align: top; margin-right: -1px; margin-top: 10px; display: inline-block; min-height: 25px; padding: 0; border-left: 0px; background: none; }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .cart-price { display: block; padding: 45px 0px; font-family: 'Arial', sans-serif; font-weight: 400; color: #636363; font-size: 14px; line-height: 25px }
#popup-cart-desktop .content-popup-cart .tbody-popup .item-popup .cart-price span { font-size: 14px; margin-left: 15px;color: #000; font-weight: 700 }
#popup-cart-desktop .content-popup-cart .tfoot-popup { width: 100%; float: left; clear: both }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 { padding: 15px 0px 15px; border-top: solid 1px #e1e1e1; text-align: right; font-family: 'Arial', sans-serif; color: #000; font-size: 16px; }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship { font-size: 13px; width: 320px }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship img { float: left; margin-right: 10px }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship p { line-height: 20px; font-family: 'Arial', sans-serif; text-transform: uppercase; font-weight: bold; letter-spacing: 0; margin: 15px 15px 0; padding-left: 10px }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-ship p:before { font-family: 'FontAwesome'; content: "\f0d1"; font-size: 16px; position: absolute; left: 20px }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total .tongtien { margin: 0; padding: 0 }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total .vanchuyen { font-weight: 300; color: #000 }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total span { font-weight: 700; color: #000; }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p { font-family: 'Arial', sans-serif; font-size: 14px; font-weight: 400; padding: 15px 0; padding-bottom: 0; margin-bottom: 0; color: #333; text-align: right }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-1 .popup-total p .total-price { color: #000; font-weight: bold }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 a { cursor: pointer }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-continue { margin: 10px; background: transparent; font-size: 14px; float: left; outline: none; color: #000; position: absolute; margin-top: -29px; padding: 0 45px; height: 35px; border-radius: 3px; line-height: 35px }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-proceed-checkout { background: #7f7f7f; font-size: 14px; font-weight: 400; float: right; line-height: 35px; display: block; padding: 0px 45px; border: solid 1px #7f7f7f; color: #fff; border-radius: 3px; height: 35px; margin-bottom: 10px; margin-top: 0px; margin-right: 5px }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.btn-proceed-checkout:hover { background: #fff; color: #000; border-color: #000; text-decoration: none }
#popup-cart-desktop .content-popup-cart .tfoot-popup .tfoot-popup-2 .button.buy_ { background: #000; color: #fff; border-color: #000; margin-right: 0px }
.popup-cart { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; display: none; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0; }
.close-window { position: absolute; top: 10px; right: 10px; width: 25px; height: 25px; cursor: pointer; z-index: 8040; color: #fff !important; text-align: center; line-height: 25px; border-radius: 0; }
.section_base .title_top_menu h3 { margin: 0; padding: 10px 28px 10px 28px; font-size: 17px; line-height: 24px; border-top-left-radius: 3px; border-top-right-radius: 3px; font-weight: 400; background: #000; text-transform: uppercase; display: inline-block; }
.section_base .title_top_menu h3 a { color: #fff !important; }
.section_base .border_bottom_title { position: relative; }
.section_base .border_bottom_title:before { position: absolute; bottom: -46px; left: 0; width: 100%; border-bottom: 2px solid #000; content: ''; }

@media (max-width:1199px) {
	.product-box-h .tagmakm_sale { width: 100%; background-size: cover }
	.product-box-h .wrap_time .time span { font-size: 16px }
	.product-box-h .wrap_time .time span p { font-size: 12px }
	.product-box-h { padding: 0px !important }
	.wrap_right_module { display: none; }
}
@media (max-width:991px) {
	.details-product { margin-top: 15px !important; }
	.button_actions .btn_base { width: 100% }
	.button_actions .btn_base.btn_call { width: 100%; margin-left: 0; margin-top: 10px; }
	.module_best_sale_product { margin: 0 15px }
	#popup-cart-desktop{ width: 98%; }
}
@media (max-width:767px) {
	#popup-cart{ display: none; }
	.wrap-detail { padding-bottom: 35px; }
	.title-product { margin-top: 20px; }
	.details-product .tab_h { margin-top: 25px }
	.details-pro .contacts { margin-bottom: 5px; margin-top: 5px }
	.details-pro .contacts .block_phone div { padding-left: 40px; text-align: left }
	.product-tab .tab-link h3 { margin: 0; border: 1px solid #ebebeb; padding: 10px 10px; margin-top: 0; position: relative; }
	.product-tab .tab-link.current h3 { border-bottom: none; border-bottom: solid 2px #000; background: #fff; }
	.product-tab .tab-link { margin: 0px 0px !important; width: 100%; border: none; padding: 0; margin-bottom: 5px !important; background: #fff; }
	.product-tab .tab-link h3:before { content: '\f107'; font-size: 20px; font-family: FontAwesome; float: right; margin-right: 0; margin-top: -3px; }
	.product-tab .tab-content.current .rte { border-top: 1px solid #e5e5e5; margin-top: 0px; padding: 30px 20px 60px 20px }
	.related-product { margin-top: 0px }
	.related-product { margin-bottom: -15px !important }
}
@media (max-width:640px) {
	.details-product { margin-top: 40px !important; }
}
@media (max-width:374px) {
	.thumb_product_details { width: 80% }
	.thumb_product_details .owl-item .item a { display: flex !important; align-items: center !important; justify-content: center !important; height: 70px !important; width: 70px !important; display: block; border: solid 1px #ebebeb }
	.thumb_product_details .owl-item .item a img { max-height: 100%; max-width: 100% }
	.thumb_product_details .owl-item .item a.active { border-color: #000 }
	.thumb_product_details .owl-item .item a.active img { opacity: 1 }
	.details-pro .contacts .block_phone a { font-size: 14px }
	.product-box-h .tagmakm_sale { padding: 0 0 0 15px }
	.product-box-h .tagmakm_sale .codekm .codekm_2 { font-size: 11px }
	.product-box-h .tagmakm_sale .price_km { font-size: 9px; margin-right: 2px }
	.product-box-h { min-height: 270px !important }
	.product-box-h .product-thumbnail>a.display_flex { height: 135px !important }
}
@media (min-width:1200px) {
	.details-product .col-lg-5 { width: 41.66666667%; }
	.details-product .col-lg-7 { width: 58.33333333%; }
	.details-product .col-lg-9 { width: 75%; }
	.details-product .col-lg-3 { width: 25%; }
	.details-pro { padding-left: 30px; padding-right: 0px }
	.box-variant .form-group .selector-wrapper .single-option-selector { width: 60% }
	.product-tab .content_extab.current .rte { color: #9d9c9c; font-weight: 300; font-size: 14px; width: 100% }
	.product-tab .content_extab.current .rte img { max-width: 100%; width: auto !important; height: auto !important }
	.product-box-h:hover .product-name { text-align: left }
	.product-box-h:hover .product-hides { display: none }
	.product-box-h:hover .product-action { display: block }
	.product-box-h:hover .quick-view { opacity: 1 !important }
}
@media (min-width:992px) {
	.details-product .col-md-5 { width: 41.66666667%; }
	.details-product .col-md-7 { width: 58.33333333%; }
}
@media (min-width:768px) {
	.details-product .col-sm-6 { width: 50%; }
	.product-tab .tab-link:nth-child(2) { margin-left: 0px }
	.product-tab .tab-link.current { color: #fff; padding-bottom: 0px; background: #000 }
	.product-tab .tab-link.current h3 { color: #000 !important }
	.product-tab .tab-link.current h3 span { color: #fff !important }
	.product-tab .tab-link:nth-child(3) { margin-left: 0px }
}
@media (min-width:544px) and (max-width:767px) {
	.thumb_product_details { width: 65% }
}
@media (min-width:768px) and (max-width:991px) {
	.thumb_product_details { width: 70% }
	.details-pro .contacts { margin-top: 10px }
	.details-pro .contacts .block_phone div { padding-left: 40px }
	.product-box-h { min-height: 355px !important }
}
@media (min-width:992px) and (max-width:1199px) {
	.thumb_product_details { width: 65% }
	.product-mini-item { height: 160px }
}
@media (min-width:414px) and (max-width:543px) {
	.thumb_product_details .owl-nav .owl-next { right: -10px !important }
	.product-box-h { min-height: 300px !important }
	.product-box-h .product-thumbnail>a.display_flex { height: 180px !important }
}
@media (min-width:375px) and (max-width:424px) {
	.product-box-h .tagmakm_sale .price_km { font-size: 10px }
}
@media (min-width:425px) and (max-width:767px) {
	.product-box-h .tagmakm_sale .price_km { font-size: 14px }
}
@media (min-width:374px) and (max-width:413px) {
	.product-box-h { min-height: 290px !important }
	.product-box-h .product-thumbnail>a.display_flex { height: 150px !important }
}
